<!DOCTYPE HTML>
<html>
<%- partial('components/head') %>

<body>
<div class="blog">
  <div class="content">

    <%- partial('components/header') %>
    <h1><a href="https://ochronus.online/">Visit my new blog at https://ochronus.online/</a></h1>
    <main class="site-main posts-loop">
    <%- body %>
    </main>

    <%- partial('components/footer') %>
    <%- partial('components/googleanalytics') %>
  </div>
</div>
</body>
</html>
